Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Cinematics/Sequences/Animations/RecordedSequence_BP_Character.uasset
Content/Cinematics/Sequences/RecordedSequence/RecordedSequence_1.uasset
